$pale-silver:#C4D0B8;
$feldgrau:#4F5A5E;
$gulf-stream:#74ACAF;
$flitter:#E7EAF1;
$platinum:#E8E7E2;
$dove-grey:#737373;

$warning-background:#E9896D;
$warning-foreground:#faf3dc;
$success-background: #48a391;
$success-foreground:$flitter;
$info-background:#3090b0;
$info-foreground:$flitter;