@import '../../styles/colours.scss';

.message-box-wrapper {
    border:1px solid;
    border-bottom:3px solid;
    padding:0 7px;
}

.info {
    border-color:$info;
    color:$info;
}

.success {
    border-color:$success;
    color:$success;
}

.warning {
    border-color:$warning;
    color:$warning;
}