@import '../../styles/colours.scss';

.message-box {
    border:1px solid;
    border-bottom:3px solid;
    padding:0 7px;
}

.message-info {
    @extend .message-box;
    border-color:$info;
    color:$info;
}

.message-success {
    @extend .message-box;
    border-color:$success;
    color:$success;
}

.message-warning {
    @extend .message-box;
    border-color:$warning;
    color:$warning;
}