@import '../../styles/colours.scss';

h4 {
    font-weight:400;
    font-size:1.4rem;
    margin:0px 0px 5px 0px;
}

p {
    margin-bottom:0;
}

.message-box {
    padding:13px;
    border-radius:5px;
}

.message-info {
    @extend .message-box;
    background:$info-background;
    color:$info-foreground;
}

.message-success {
    @extend .message-box;
    background:$success-background;
    color:$success-foreground;
}

.message-warning {
    @extend .message-box;
    background:$warning-background;
    color:$warning-foreground;
}