@import './styles/colours.scss';

.app-header {
    width:100%;
    background:$feldgrau;
    padding:10px 15px;
}

.app-title {
    color:$pale-silver;
    margin:0;
    padding:0;
    height:40px;
}