@import './styles/colours.scss';

.app-header {
    width:100%;
    background:$gulf-stream;
    padding:10px 15px;
}

.app-title {
    color:$flitter;
    margin:0;
    padding:0;
    height:40px;
}

.menu-button {
    
}